@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
    font-family: "Encode Sans";
    color: rgb(0, 0, 0);
}
/*videóban 48 percnél box sizing-et magyarazza */

html, body{
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
  }

  #hero-section {
    margin: 0px;
  }

a {
  text-decoration: none;
}

.hero-container {
  background-image: url(Images/background-2.png);
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  margin: 0px;
  background-color: #f7e08c;
}


.navbar-list {
margin: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
padding-left: 0px;
}




.navbar-list-item {
  display: inline-block;
  font-size: 3rem;
  margin-top: 4rem;
  color:#ae8b19;
  font-weight: 700;
  list-style-type: none;
}


.navbar-list-item a {
  color: #ae8b19;
  font-weight: 700;
  
}

.fa-download {
color: white; 
}

#book-now-button {
  background-color: #ae8b19; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5rem;
  margin: 4px 130px;
  cursor: pointer;
  position: absolute;
  margin-left: 13rem;
  margin-top: 60rem;
  padding: 2rem;
  font-weight: 600;
  z-index: 1000;
  border-radius: 10px;

  transform: translatey(0px);
	animation: float 3s ease-in-out infinite;

}


@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

.avatar {
	box-sizing: border-box;
	overflow: hidden;
	transform: translatey(0px);
  position: relative;
  top: 50rem;

}



.about-me{
  padding: 3rem 6rem 4rem 6rem;
  text-align: left;
  font-size: 4vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;
  
}

#works-section {
  background-color: #ffffff;
  background-image: url(Images/bg-1.png);
  padding: 3rem 6rem 4rem 6rem;
  min-height: 100vh;
}

.works-container {
  
  text-align: left;
  font-size: 5vw;

  
}


.about-me-heading {
  font-size: 6rem;
  margin-top: 1rem;
  text-align: left;
  
}

.works-heading {
  font-size: 6rem;
  margin-top: 1rem;
  text-align: left;
}



.me {
  max-width: 100%;
  border-radius: 50%;

}



.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
}

#videos-button {
  background-color: #ae8b19; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 4rem;
  cursor: pointer;
  padding: 3rem;
  border-radius: 10px;

}




.videos-software-image {
  width: 120px;
  height: 120px;
}

.thumbnails-about {
  margin: 8rem auto;
  font-size: 5vw;
}

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  align-items: center;
}

#thumbnails-button {
  background-color: #ae8b19; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2.2rem;
  cursor: pointer;
  padding: 3rem;
  border-radius: 10px;

}

.thumbnails-software-image {
  width: 120px;
  height: 120px;
}



.figcaption-1 {
  margin-top: 0;
  text-align: center;
  font-size: 40px;
}

#contact-me-section {
  padding-left: 3rem 0 0 6rem;
  position: relative;
}

.contact-me-container {
  padding: 3rem;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;

}

.contact-me-heading {
  font-size: 5rem;
  margin-left: 5rem;
}

.call-me-flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
text-align: center;
}

.call-me-text {
  font-size: 5rem;
}

.email-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 3rem;
  
  }
  
.email-me-text {
  font-size: 3rem;

  }

  .linkedin-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    
    }
    
  .linkedin-me-text {
    font-size: 5.5rem;
  
    }

 

#home-button {
  background-color: #ae8b19; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 3rem;
  border-radius: 10px;
  align-items: center;
  display: inline-block;
  position: absolute;
  left: 24rem;
  bottom: 10rem;
}

/*Gallery*/

.gallery-navbar-list {
  margin: 0 0 5rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0px;
  
  }
  
  .gallery-navbar-list-item {
    display: inline-block;
    font-size: 3rem;
    color:#ae8b19;
    font-weight: 700;
    list-style-type: none;
  
  }
  
  .gallery-navbar-list a {
    color: #ae8b19;
    font-weight: 700;
    
  }

#gallery-section {
  padding-top: 5rem;
  text-align: center;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;
  
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.thumbnails-heading {
  font-size: 5rem;
  margin: 3rem 0;


}

.gallery-image {

}

#gallery-button {
  background-color: #ae8b19; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 3rem;
  border-radius: 10px;
  align-items: center;
  display: inline-block;
  align-items: center;
  position: relative;
  left: 23.5rem;

}

#btnControl, #btnControl-2, #btnControl-3,
#btnControl-4, #btnControl-5, #btnControl-6,
#btnControl-7, #btnControl-8, #btnControl-9,
#btnControl-10, #btnControl-11, #btnControl-12,
#btnControl-13, #btnControl-14, #btnControl-15,
#btnControl-16, #btnControl-17, #btnControl-18,
#btnControl-19, #btnControl-20, #btnControl-21,
#btnControl-22
 {
  display: none;
}

#btnControl:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-2:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-3:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-4:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-5:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-6:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-6:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-7:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-8:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-9:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-10:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-11:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-12:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-13:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-14:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-15:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-16:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-17:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-18:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-19:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-20:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-21:checked + label > img {
  width: 852px;
  height: 852px;
}
#btnControl-22:checked + label > img {
  width: 852px;
  height: 852px;
}

/*Media querys 481px*/

@media screen and (min-device-width: 481px)
 {
  #book-now-button {
 background-color: #ae8b19; 
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 5rem;
margin: 4px 130px;
cursor: pointer;
position: absolute;
padding: 2rem;
font-weight: 600;
z-index: 1000;
border-radius: 10px;
margin-left: 12rem;
margin-top: 60rem;
  }

.about-me{
  padding: 3rem 6rem 4rem 6rem;
  text-align: left;
  font-size: 3.5vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;  
  }
  .me {
    max-width: 100%;
    border-radius: 50%;
  
  }
  .works-heading {
    font-size: 6rem;
    margin-top: 1rem;
    text-align: left;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
    align-items: center;
  }
  
  #videos-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  
  .videos-software-image {
    width: 120px;
    height: 120px;
  }
  
  .thumbnails-about {
    margin: 8rem auto;
    font-size: 5vw;
  }
  
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
  }
  
  #thumbnails-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  .thumbnails-software-image {
    width: 120px;
    height: 120px;
  }
   
  #contact-me-section {
    padding-left: 3rem 0 0 6rem;
    position: relative;
  }
  
  .contact-me-container {
    padding: 3rem;
    background-color: #faebd7;
    background-image: url(Images/bg-1.png);
    min-height: 120vh;
  
  }
  
  .contact-me-heading {
    font-size: 5rem;
    margin-left: 5rem;
  }
  
  .call-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  }
  
  .call-me-text {
    font-size: 5rem;
  }
  
  .email-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
    
    }
    
  .email-me-text {
    font-size: 3rem;
  
    }
  
    .linkedin-me-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  
      
      }
      
    .linkedin-me-text {
      font-size: 5.5rem;
    
      }
  
   
  
  #home-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
    align-items: center;
    display: inline-block;
    position: absolute;
    left: 24rem;
    bottom: 10rem;
  }



}

/*Media querys 641px*/

@media screen and (min-device-width: 641px)
 {

  .hero-container {
    background-image: url(Images/background-2.png);
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    margin: 0px;
  }

  #book-now-button {
 background-color: #ae8b19; 
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 3rem;
margin: 2px 130px;
cursor: pointer;
position: absolute;
padding: 2rem;
font-weight: 600;
z-index: 1000;
border-radius: 10px;
margin-left: 19rem;
margin-top: 50rem;
  }

.about-me{
  padding: 3rem 6rem 4rem 6rem;
  text-align: left;
  font-size: 3.5vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;  
  }
  .me {
    max-width: 100%;
    border-radius: 50%;
  
  }
  .works-heading {
    font-size: 6rem;
    margin-top: 1rem;
    text-align: left;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
  }
  
  #videos-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  
  .videos-software-image {
    width: 120px;
    height: 120px;
  }
  
  .thumbnails-about {
    margin: 8rem auto;
    font-size: 5vw;
  }
  
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
  }
  
  #thumbnails-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  .thumbnails-software-image {
    width: 120px;
    height: 120px;
  }
   
  #contact-me-section {
    padding-left: 3rem 0 0 6rem;
    position: relative;
  }
  
  .contact-me-container {
    padding: 3rem;
    background-color: #faebd7;
    background-image: url(Images/bg-1.png);
    min-height: 130vh;
  
  }
  
  .contact-me-heading {
    font-size: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .call-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  }
  
  .call-me-text {
    font-size: 5rem;
  }
  
  .email-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
    
    }
    
  .email-me-text {
    font-size: 3rem;
  
    }
  
    .linkedin-me-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  
      
      }
      
    .linkedin-me-text {
      font-size: 5.5rem;
    
      }
  
   
  
  #home-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
    align-items: center;
    display: inline-block;
    position: absolute;
    left: 24rem;
    bottom: 3rem;

  }



}


/*Media querys 961px*/

@media screen and (min-device-width: 961px)
 {

  .hero-container {
    background-image: url(Images/background-4);
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    margin: 0px;
  }

  .navbar-list-item a:hover {
    color: #50472a;
    font-weight: 700;
    
  }

  #book-now-button {
 background-color: #ae8b19; 
;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 2rem;
margin: 2px 50px;
cursor: pointer;
position: absolute;
padding: 1rem;
font-weight: 600;
z-index: 1000;
border-radius: 10px;
margin-left: 3rem;
margin-top: 30rem;
width: 20rem;
  }

  #book-now-button:hover {
    
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;

  }

  .fa-download:hover {
    background-color: #f7e08c;
    
  }

.about-me{
  padding: 3rem 6rem 4rem 6rem;
  text-align: left;
  font-size: 3.5vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;

  }
  .me {
    max-width: 100%;
    border-radius: 50%;
    width: 35rem;
    margin: auto;
    display: block;
  
  }
  .works-heading {
    font-size: 6rem;
    margin-top: 1rem;
    text-align: left;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
  }
  
  #videos-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  #videos-button:hover {  
    background-color: #5a4d20;
  }

  
  .videos-software-image {
    width: 120px;
    height: 120px;
  }

  .videos-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  .thumbnails-about {
    margin: 8rem auto;
    font-size: 5vw;
  }
  
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
  }
  
  #thumbnails-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }

  #thumbnails-button:hover {  
    background-color: #5a4d20;
  }

  
  .thumbnails-software-image {
    width: 120px;
    height: 120px;
  }

  .thumbnails-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   
  #contact-me-section {
    padding-left: 3rem 0 0 6rem;
    position: relative;
  }
  
  .contact-me-container {
    padding: 3rem;
    background-color: #faebd7;
    background-image: url(Images/bg-1.png);
    min-height: 130vh;
  
  }
  
  .contact-me-heading {
    font-size: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .call-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  }
  
  .call-me-text {
    font-size: 5rem;
  }
  
  .email-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
    
    }
    
  .email-me-text {
    font-size: 3rem;
  
    }
  
    .linkedin-me-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  
      
      }
      
    .linkedin-me-text {
      font-size: 5.5rem;
    
      }
  
   .contact-me-images:hover {
    transform: scale(1.1);
   }
  
  #home-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
    align-items: center;
    display: inline-block;
    position: absolute;
    left: 37rem;
    bottom: 3rem;

  }
  #home-button:hover {
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;
  }


}

/*Media querys 1025px*/

@media screen and (min-device-width: 1025px)
 {

  .hero-container {
    background-image: url(Images/background-5);
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    margin: 0px;
  }

  .navbar-list {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    }
    
    
    
    
    .navbar-list-item {
      display: inline-block;
      font-size: 3rem;
      margin-top: 4rem;
      color:#ae8b19;
      font-weight: 700;
      list-style-type: none;
    }
    
    
    .navbar-list-item a {
      color: #ae8b19;
      font-weight: 700;
      
    }

  .navbar-list-item a:hover {
    color: #50472a;
    font-weight: 700;
    
  }

  #book-now-button {
 background-color: #ae8b19; 
;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
margin: 2px 50px;
cursor: pointer;
position: absolute;
padding: 1rem;
font-weight: 600;
z-index: 1000;
border-radius: 10px;
margin-left: 2rem;
margin-top: 5rem;
width: 15rem;
  }

  #book-now-button:hover {
    
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;

  }

  .fa-download:hover {
    background-color: #f7e08c;
    
  }

.about-me{
  padding: 3rem 6rem 4rem 6rem;
  text-align: left;
  font-size: 2.5vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;

  }

  .about-me-heading {
    font-size: 3.5vw;
  }
  .me {
    max-width: 100%;
    border-radius: 50%;
    width: 25rem;
    margin: auto;
    display: block;
  
  }

  .figcaption-1 {
    font-size: 1.5vw;
  }
  .works-heading {
    font-size: 3.5vw;
    margin-top: 1rem;
    text-align: left;
  }
  .works-container {
    font-size: 2.5vw;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
    
  }
  
  #videos-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  #videos-button:hover {  
    background-color: #5a4d20;
  }

  
  .videos-software-image {
    width: 120px;
    height: 120px;
  }

  .videos-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  .thumbnails-about {
    margin: 8rem auto;
    font-size: 2.5vw;
  }
  
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
  }
  
  #thumbnails-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }

  #thumbnails-button:hover {  
    background-color: #5a4d20;
  }

  
  .thumbnails-software-image {
    width: 120px;
    height: 120px;
  }

  .thumbnails-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   
  #contact-me-section {
    padding-left: 3rem 0 0 6rem;
    position: relative;
  }
  
  .contact-me-container {
    padding: 1rem;
    background-color: #faebd7;
    background-image: url(Images/bg-1.png);
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  
  }
  
  .contact-me-heading {
    font-size: 3.5vw;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .call-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  }
  
  .call-me-text {
    font-size: 2vw;
  }
  
  .email-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
    
    }
    
  .email-me-text {
    font-size: 2vw;
  
    }
  
    .linkedin-me-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  
      
      }
      
    .linkedin-me-text {
      font-size: 2vw;
    
      }
  

   .contact-me-images {
    width: 50px;
   }

   .contact-me-images:hover {
    transform: scale(1.1);
   }
  
  #home-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    cursor: pointer;
    padding: 2.5rem;
    border-radius: 10px;
    position: absolute;
    left: 7rem;
    bottom: 1rem;
    height: 7rem;
    text-align: center;


  }
  #home-button:hover {
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;
  }


}

/*Media querys 1281px*/

@media screen and (min-device-width: 1281px)
 {

  .hero-container {
    background-image: url(Images/background-6);
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;
    margin: 0px;
  }

  .navbar-list {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 12rem;
    }
    
    
    
    
    .navbar-list-item {
      display: inline-block;
      font-size: 3vw;
      margin-top: 4rem;
      color:#ae8b19;
      font-weight: 700;
      list-style-type: none;
    }
    
    
    .navbar-list-item a {
      color: #ae8b19;
      font-weight: 700;
      
    }

  .navbar-list-item a:hover {
    color: #50472a;
    
  }

  #book-now-button {
 background-color: #ae8b19; 
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 2rem;
margin: 2px 50px;
cursor: pointer;
position: absolute;
padding: 1rem;
font-weight: 600;
z-index: 1000;
border-radius: 10px;
margin-left: 10rem;
margin-top: 5rem;
width: 25rem;
  }

  #book-now-button:hover {
    
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;

  }

  .fa-download:hover {
    background-color: #f7e08c;
    
  }

.about-me{
  padding: 3rem 20rem 4rem 20rem;
  text-align: left;
  font-size: 1.5vw;
  background-color: #faebd7;
  background-image: url(Images/bg-1.png);
  min-height: 100vh;

  }

  .about-me-heading {
    font-size: 3.5vw;
  }
  .me {
    max-width: 100%;
    border-radius: 50%;
    width: 25rem;
    margin: auto;
    display: block;
  
  }

  .figcaption-1 {
    font-size: 1.5vw;
  }
  .works-heading {
    font-size: 3.5vw;
    margin-top: 1rem;
    text-align: left;
  }
  .works-container {
    font-size: 2.5vw;
    padding: 3rem 12rem 4rem 12rem;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
    padding: 3rem 4rem 4rem 4rem;
    
  }
  
  #videos-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }
  
  #videos-button:hover {  
    background-color: #5a4d20;
  }

  
  .videos-software-image {
    width: 120px;
    height: 120px;
  }

  .videos-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  .thumbnails-about {
    margin: 8rem auto;
    font-size: 2.5vw;
    padding: 3rem 10rem 4rem 10rem;
  }
  
  .thumbnails-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    padding: 3rem 4rem 4rem 4rem;
  }
  
  #thumbnails-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 3rem;
    border-radius: 10px;
  
  }

  #thumbnails-button:hover {  
    background-color: #5a4d20;
  }

  
  .thumbnails-software-image {
    width: 120px;
    height: 120px;
  }

  .thumbnails-software-image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
   
  #contact-me-section {
    padding-left: 3rem 0 0 6rem;
    position: relative;
  }
  
  .contact-me-container {
    padding: 1rem;
    background-color: #faebd7;
    background-image: url(Images/bg-1.png);
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  
  }
  
  .contact-me-heading {
    font-size: 3.5vw;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  
  .call-me-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  }
  
  .call-me-text {
    font-size: 2vw;
  }
  
  .email-me-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 3rem;
    
    }
    
  .email-me-text {
    font-size: 2vw;
  
    }
  
    .linkedin-me-flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  
      
      }
      
    .linkedin-me-text {
      font-size: 2vw;
    
      }
  

   .contact-me-images {
    width: 50px;
   }

   .contact-me-images:hover {
    transform: scale(1.1);
   }
  
  #home-button {
    background-color: #ae8b19; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    cursor: pointer;
    padding: 2.5rem;
    border-radius: 10px;
    position: absolute;
    left: 7rem;
    bottom: 1rem;
    height: 7rem;
    text-align: center;


  }
  #home-button:hover {
    background-color: #5a4d20;
    border: 5px solid #f7e08c;
    color: #f7e08c;
  }


}


/*NAVBAR*/

.sidebar {
  min-height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f7e08c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #5a4d20;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ffffff;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f7e08c;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #5a4d20;
  color: #ffffff;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
